<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Recipe</title>
    <link rel="stylesheet" type="text/css" href="../static/style3.css">
</head>
<style>
body
{
  background-image: url('../static/citrus.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<body >

 <br>
 <br>
 <br>
 <br>
 <br>
 <a href = "/bynames"><input style = "margin-left:250px" class="blockf" type="button" value="Recipe Name"></a>
 <a href = "/byIngName"><input class="blockfw" type="button" value="Ingredient Name"></a>
 <a href = "/byIngNum"><input  class="blockf" type="button" value="Number of Ingredients"></a>
 <a href = "/veg"><input class="blockfw" type="button" value="Vegetarian diet"></a>
<br>
<br>
 <a href = "/vegan"><input style = "margin-left:250px" class="blockfw" type="button" value="Vegan diet"></a>
 <a href = "/nonveg"><input class="blockf" type="button" value="Non Vegetarian diet"></a>
 <a href = "/byTime"><input class="blockfw" type="button" value="By Prep Time"></a>

 <a href = "/calories"><input class="blockf" type="button" value="By Calorie count"></a>
 <br>
 <br>
 <a href = "/diaryfree"><input style = "margin-left:350px"class="blockf" type="button" value="diaryfree"></a>
 <a href = "/healthy"><input class="blockfw" type="button" value="healthy"></a>
 <a href = "/postworkout"><input class="blockf" type="button" value="Post workout meals"></a>


</body>
</html>