<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/style3.css?q=1280549780">
</head>
<style>
.content {
  max-width: 500px;
  margin: auto;
}
body{ margin:0 auto; }
</style>

<body class = "center-wrapped">

<a class="boxhead" href ="/add_recipe"><input style = "margin-top: 200px;" align = "center" type ="button" value = "Add Recipe" class = "block"></a> <br>
<a class="boxhead" href = "/find_recipe"><input align ="center" type = "button" value="Find Recipe" class="block"></a>
<br>





</body>
</html>